@Html.Hidden("view", @"~\Views\Shows\ManageShows.cshtml")

<div class="jumbotron">
    <h1>Manage Shows</h1>
    @{ Html.RenderPartial("_ShowRunning"); }
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Setup", "Index", "Setup")</li>
        <li>@Html.ActionLink("Shows", "Index", "SetupShows")</li>
        <li class="active">Manage Shows</li>
    </ol>
</div>

