@Html.Hidden("view", @"~\Views\Shows\SetupInputs.cshtml")

<div class="jumbotron">
    @{ Html.RenderPartial("_ShowRunning"); }
    <h1>Setup Show Inputs </h1> 
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Setup", "Index", "Setup")</li>
        <li>@Html.ActionLink("Shows", "Index", "SetupShows")</li>
        <li class="active">Inputs</li>
    </ol>
</div>

