
@Html.Hidden("view", @"~\Views\Modes\Index.cshtml")


<div class="jumbotron">
    <h1>Modes</h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Modes</li>
    </ol>
</div>

This is where the Modes are created and set up.
<p></p>
<p>Modes work with the Vibings.</p>
<p>The Vibings should know about a number of modes.</p>
<p>The modes will have parameters</p>
<p>If the mode has a colour fade, what are the Start and End colours and how long does it take</p>

