@Html.Hidden("view", @"~\Views\Modes\ModeDesign.cshtml")

<div class="jumbotron">
    <h1>Mode Design</h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Modes", "Index", "Modes")</li>
        <li class="active">Mode Design</li>
    </ol>
</div>

                                                                                                                     

