@Html.Hidden("view", @"~\Views\Modes\ModeForShows.cshtml")

<div class="jumbotron">
    <h1>Show Setup</h1>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Modes", "Index", "Modes")</li>
        <li class="active">Show Setup</li>
    </ol>
</div>

