@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Haptic Theatre</h3>

<address>
    r.josephbyrne@gmail.com<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:r.josephbyrne@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:r.josephbyrne@gmail.com">Marketing@example.com</a>
</address>