@model Haptic_Theatre_Vibings_Control.Models.HttpViewModel

@{
}

@Html.Hidden("view", @"~\Views\Home\Index.cshtml")

<div class="jumbotron">
    <h1>Vibings Controller</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Live Control</h2>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Open Live Controller</a><div class="btn btn-success">System is running in Show mode</div>
        </p>
        <p></p>

        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Display Mode Quick Select</th>
            </tr>
            </thead>
            <tbody>
            <tr class="warning">
                <td>Mode 1 - Happy Circles</td>
            </tr>
            <tr class="info">
                <td>Mode 2 - Sadder Circles</td>
            </tr>
            <tr class="info">
                <td>Mode 3 - Bottom Bounce</td>
            </tr>
            <tr class="info">
                <td>Mode 4 - Hope</td>
            </tr>
            <tr class="info">
                <td>Mode 5 - Sunrise</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h2>Display Modes</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Open Mode Library</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Test and Develoment</h2>
        <p>@Html.ActionLink("Open Test and Development", "Index", "TestandDevelopment", null, new {@class="btn btn-default"})</p>
    </div>
</div>