@Html.Hidden("view", @"~\Views\Home\Index.cshtml")

<div class="jumbotron">
    @{ Html.RenderPartial("_ShowRunning"); }
    <h1>Vibings Controller </h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Live Show</h2>
        <p>Control a Live Show</p>
        <p>
            @Html.ActionLink("Live Show Controller", "Index", "Live", null, new { @class = "btn btn-default" })
        </p>
        <p></p>
    </div>

    <div class="col-md-4">
        <h2>Setup</h2>
        <p>Setup and Configure Modes and Inputs for Shows</p>
        <p>
            @Html.ActionLink("Setup Modes and Shows", "Index", "Setup", null, new { @class = "btn btn-default" })
        </p>
    </div>

    <div class="col-md-4">
        <h2>Test and Develoment</h2>
        <p>Tools to design the System</p>
        <p>@Html.ActionLink("Open Test and Development", "Index", "TestandDevelopment", null, new {@class="btn btn-default"})</p>
    </div>
</div>